App_WebReferences/ShowTrackerServiceReference1/ShowTrackerService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfShowInfoVenue">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowInfoVenue" nillable="true" type="tns:ShowInfoVenue" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowInfoVenue" nillable="true" type="tns:ArrayOfShowInfoVenue" />
  <xs:complexType name="ShowInfoVenue">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowInfoVenue" nillable="true" type="tns:ShowInfoVenue" />
  <xs:complexType name="ArrayOfShowInfoArtist">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ShowInfoArtist" nillable="true" type="tns:ShowInfoArtist" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfShowInfoArtist" nillable="true" type="tns:ArrayOfShowInfoArtist" />
  <xs:complexType name="ShowInfoArtist">
    <xs:sequence>
      <xs:element minOccurs="0" name="ShowDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShowTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ShowInfoArtist" nillable="true" type="tns:ShowInfoArtist" />
</xs:schema>